<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{js/page/homeslide.js}"></script>

<link href="../static/css/page/home.css" th:href="@{/css/page/home.css}" rel="stylesheet" />
<link href="../static/css/page/homeslide.css" th:href="@{/css/page/homeslide.css}" rel="stylesheet" />

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Home</title>
</head>

<body>
	<th:block th:include="/menu"></th:block> 
	
	
	
	

</body>
</html>